---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---

<header class="absolute w-screen z-20">
  <SkipLinks />
  <Navigation>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Product</button>
      <ul>
        <li class="submenu-item">
          <a href="/dropdown/subpage1/">Overview</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage2/">Pricing</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">Marketplace</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">Features</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">Integrations</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Company</button>
      <ul>
        <li class="submenu-item">
          <a href="/dropdown/subpage1/">About</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage2/">Team</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">Blog</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">Careers</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Connect</button>
      <ul>
        <li class="submenu-item">
          <a href="/dropdown/subpage1/">Contact</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage2/">Newsletter</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">LinkedIn</a>
        </li>
      </ul>
    </li>
    <li>
      <hr>
    </li>
    <li class="menu-item md:absolute right-44">
      <a href="/example-page/">Login</a>
    </li>
    <li class="menu-item cta-button md:absolute right-8">
      <a href="/example-page/">Sign Up</a>
    </li>
  </Navigation>
</header>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }

    img {
      max-height: 40px;
    }
  }
</style>
