<ul id="theme-switcher">
  <li>
    <button aria-pressed="false" title="Switch to the DEFAULT theme" data-value="default">
      <span />
    </button>
  </li>
  <li>
    <button aria-pressed="false" title="Switch to the COCEAN theme" data-value="ocean">
      <span />
    </button>
  </li>
  <li>
    <button aria-pressed="false" title="Switch to the JUNGLE theme" data-value="jungle">
      <span />
    </button>
  </li>
  <li>
    <button aria-pressed="false" title="Switch to the ROYAL theme" data-value="royal">
      <span />
    </button>
  </li>
  <li>
    <button aria-pressed="false" title="Switch to the SUNNY theme" data-value="sunny">
      <span />
    </button>
  </li>
</ul>

<script>
  const html = document.querySelector('html')
  const currentTheme = localStorage.getItem('theme') || 'default'
  const themeSwitcher = document.querySelector('#theme-switcher')
  const themeSwitcherButtons = themeSwitcher.querySelectorAll('button')

  themeSwitcher.addEventListener('click', event => {
    const currentButton = event.target.closest('button')
    if (!currentButton) return

    const currentTheme = currentButton.dataset.value
    html.dataset.theme = currentTheme
    localStorage.setItem('theme', currentTheme)

    themeSwitcherButtons.forEach(button => button.setAttribute('aria-pressed', 'false'))
    currentButton.setAttribute('aria-pressed', 'true')
  })

  themeSwitcherButtons.forEach(button => {
    button.setAttribute('aria-pressed', 'false')

    if (button.dataset.value === currentTheme) {
      button.setAttribute('aria-pressed', 'true')
      html.dataset.theme = currentTheme
    }
  })
  html.dataset.theme = currentTheme
</script>

<style lang="scss">
  #theme-switcher {
    display: flex;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
    }

    button {
      padding: 0;
      border: none;

      span {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        outline: 2px solid transparent;
        outline-offset: 3px;
        transition: outline 0.2s ease-in-out;
      }

      &[data-value="default"] span { 
        background-image: var(--default-gradient);
      }

      &[data-value="ocean"] span { 
        background-image: var(--ocean-gradient);
      }

      &[data-value="jungle"] span { 
        background-image: var(--jungle-gradient);
      }

      &[data-value="royal"] span { 
        background-image: var(--royal-gradient);
      }

      &[data-value="sunny"] span { 
        background-image: var(--sunny-gradient);
      }

      &:hover,
      &:focus,
      &[aria-pressed="true"] {
        span {
          outline-color: black;
        }
      }
    }
  }

  
</style>

<style lang="scss" is:global>
  :root {
    --default-gradient: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
    --ocean-gradient: linear-gradient(90deg, hsl(211, 93%, 72%) 0%, hsl(211, 79%, 41%) 100%);
    --jungle-gradient: linear-gradient(90deg, hsl(88, 49%, 48%) 0%, hsl(88, 85%, 28%) 100%);
    --royal-gradient: linear-gradient(90deg, hsl(245, 84%, 78%) 0%, hsl(245, 74%, 66%) 100%);
    --sunny-gradient: linear-gradient(90deg, hsl(47, 100%, 63%) 0%, hsl(47, 100%, 54%) 100%);
  }

  [data-theme="default"] {
    --theme-gradient-cta: var(--default-gradient);
    --theme-cta-text: hsl(356, 100%, 70%);
    --theme-hero-filter: none;
    --theme-image-filter: none;
  }

  [data-theme="ocean"] {
    --theme-gradient-cta: var(--ocean-gradient);
    --theme-cta-text: hsl(211, 93%, 72%);
    --theme-hero-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(210deg) brightness(100%) contrast(100%);
    --theme-image-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(210deg) brightness(100%) contrast(100%);
  }

  [data-theme="jungle"] {
    --theme-gradient-cta: var(--jungle-gradient);
    --theme-cta-text: hsl(88, 49%, 48%);
    --theme-hero-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(90deg) brightness(100%) contrast(100%);
    --theme-image-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(90deg) brightness(100%) contrast(100%);
  }

  [data-theme="royal"] {
    --theme-gradient-cta: var(--royal-gradient);
    --theme-cta-text: hsl(245, 84%, 78%);
    --theme-hero-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(250deg) brightness(100%) contrast(100%);
    --theme-image-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(250deg) brightness(100%) contrast(100%);
  }
  
  [data-theme="sunny"] {
    --theme-gradient-cta: var(--sunny-gradient);
    --theme-cta-text: hsl(47, 100%, 63%);
    --theme-hero-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(50deg) brightness(140%) contrast(100%);
    --theme-image-filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(50deg) brightness(140%) contrast(100%);
  }
</style>
